<div class="mx-auto p-3 m-2">
  <table id="{{toLowerCase pageTitle}}-table" class="table align-middle mx-auto p-2 table-condensed w-75 table-striped table-hover table-bordered table-responsive">
    <thead class="thead-dark">
      <tr>
        {{#each data.[0]}}
          <th>
            {{@key}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
          {{> tablerow this}}
      {{/each}}
    </tbody>
  </table>
</div>
