<div class="table-responsive">
<table id="{{toLowerCase pageTitle}}-table" class="table align-middle table-striped table-hover table-bordered table-sm">
  <thead class="thead-dark">
    <tr>
      {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data}}
        {{> tablerow this}}
    {{/each}}
  </tbody>
</table>
</div>
