<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform main-name=pageTitle }}
        </div>
        <div class="col">
            {{> addcolor }}
        </div>
    </div>
</div>