<form method='POST' id='add_colors' action='/add-color-form'>
  <fieldset>
    <legend>Add New Color</legend>
    <label for='input-color'>Color name:</label>
    <input type='text' id='input-color' name='input-color' /><br /><br />
    <input type='submit' value='Add color' />
  </fieldset>
</form>