<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform }}
            {{> deletecustomer }}
        </div>
        <div class="col">
            {{> addcustomer }}
        </div>
        <div class="border-top border-2 border-gray">
            {{> updatecustomer }}
        </div>
    </div>
</div>
<script src="./js/deleteCustomer.js"></script>
<script src="./js/updateCustomer.js"></script>