<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform }}
            {{> deletediscount }}
        </div>
         <div class="col">
            {{> adddiscount }}
        </div>
        <div class="border-top border-2 border-gray">
           {{> updatediscount }}
        </div>
    </div>
</div>

<script src="./js/deleteDiscount.js"></script>
<script src="./js/updateDiscount.js"></script>
