<header>
  <h1>Floral Fun</h1>
  <p>Chose the following links to interact with each data entity.</p>
</header>

<div>
  <h2>Information</h2>
  <p>Each page will allow you to perform CRUD opperations on the entities
    listed. Each page corresponds to a different entity.</p>
</div>