<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform }}
            {{> deleteitem }}
        </div>
        <div class="col">
            {{> additem }}
        </div>
        <div class="border-top border-2 border-gray">
            {{> updateitem }}
        </div>
    </div>
</div>
<script src="./js/deleteItem.js"></script>
<script src="./js/updateItem.js"></script>