<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform }}
            {{> deleteorder }}
        </div>
        <div class="col">
            {{> addorder }}
        </div>
        <div class="border-top border-2 border-gray">
        </div>
    </div>
</div>
<script src="./js/deleteOrder.js"></script>
<script src="./js/updateOrder.js"></script>