<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform }}
        </div>
        <div class="col">
        </div>
        <div class="border-top border-2 border-gray">
        </div>
    </div>
</div>
