<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform }}
            {{> deletepaymentmethod }}
        </div>
        <div class="col">
            {{> addpaymentmethod}}
        </div>
        <div class="border-top border-2 border-gray">
            {{> updatepaymentmethod }}
        </div>
    </div>
</div>
<script src="./js/deletePaymentMethod.js"></script>
<script src="./js/updatePaymentMethod.js"></script>