<div class="container border border-2 border-gray rounded">
    <div class="row">
        <div class="col">
            {{> searchform }}
            {{> deletesupplier}}
        </div>
        <div class="col">
            {{> addsupplier }}
        </div>
        <div class="border-top border-2 border-gray">
            {{> updatesupplier }}
        </div>
</div>

<script src="./js/deleteSupplier.js"></script>
<script src="./js/updateSupplier.js"></script>